.element__img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  height: 282px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 320px) {
  .element__img {
    width: 282px;
  }
}
