.header__logo {
  width: 142px;
  height: 33px;

  transition: opacity 1s linear 0.1s;

  box-sizing: border-box;

  margin-bottom: 41px;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;

    margin-bottom: 31.6px;
  }
}
