.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 940px) {
  .profile {
    max-width: 90vw;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 42px;
    max-width: 282px;
  }
}
