.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  font-style: normal;
  transition: opacity 1s linear .1s;
  margin-top: 6px;
}

.header__link:hover {
  opacity: .8;
}
