  .burger__logout {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;

  color: #a9a9a9;
  background: none;

  margin: 0;
  padding: 0;

  outline: none;
  border: none;

  box-sizing: border-box;

  cursor: pointer;
  transition: opacity 1s linear .1s;
}

.burger__logout:hover {
  opacity: .6;
}
