@import url('./__circle/preloader__circle.css');

.preloader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 882px;

  box-sizing: border-box;

  position: relative;

  margin: 60px auto;
}

@media screen and (max-width: 1140px) {
  .preloader {
    width: calc(100% - 40px);
  }
}
