.header__email {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  color: #fff;

  margin-right: 24px;
  margin-top: 6px;
}

@media screen and (max-width: 767px) {
  .header__email {
    display: none;
  }
}
