.footer {
  margin: 0 auto;
  max-width: 880px;
  padding-top: 66px;
  padding-bottom: 60px;

}

@media screen and (max-width: 940px) {
  .footer {
    max-width: 90vw;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
