.header__burger {
  display: flex;

  width: 30px;
  height: 30px;

  margin: 0;
  padding: 0;

  outline: none;
  border: none;

  box-sizing: border-box;

  cursor: pointer;
  transition: opacity 1s linear .1s;
}

.header__burger:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header__burger {
    margin-right: 30px;
  }
}
